<!-- link stylesheet to over-ride main style.css -->
<link rel="stylesheet" href="/css/dashboard.css">

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 content">
          <h2 class="page-header">
            <span></span>
            &nbsp; {{{poll.topic}}}
          </h2>

          <div class="options-form">
            <form class="options" action="/users/poll/{{{pollID}}}" method="post">
              <div class="form-group">
                <label class="text-muted"><small>Choose one.</small></label> <br>
                {{#each poll.options}}
                  <input type="radio" name="vote" value="{{{this.option}}}" id="{{{this.option}}}" > &nbsp; {{this.option}}<br>
                {{/each}}
              </div>
              {{#if error_msg}}
              <div class="error">
                {{error_msg}}
              </div>
              {{/if}}
              {{#if success_msg}}
              <div class="success">
                {{success_msg}}
              </div>
              {{/if}}
              {{#if poll.restricted }}
              <!-- Do nothing -->
              {{else}}
              <div class="input-group">
                <!-- add new option input -->
                <label class="text-muted"><small>Or vote for an additional option.</small></label> <br>
                <input type="text" name="addOption" placeholder="Add an additional option. (Counts as vote)" class="add-input form-control">
              </div>
              {{/if}}
              <button type="submit" class="btn btn-success vote-btn">VOTE</button>
            </form>
            <h4><small>Posted By <a href="#">{{{poll.creator}}}</a></small></h4>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-12 content content-right" id="stats-list">
          <h2 class="page-header header-secondary"><i class="fa fa-pie-chart" aria-hidden="true"></i>Stats</h2>
          <!-- doughnut chart -->
          <h3 class="sub-header">Total Votes: {{getLength poll.voters}}</h3>
          <div class="chartContainer">
            <canvas id="pollChart"></canvas>
          </div>
          
          <div class="button-container">
            <!-- Twitter share button -->
            <a class="btn btn-primary tweet-btn" 
              href="https://twitter.com/intent/tweet?text={{{poll.topic}}}&hashtags=GVPY&url=http://localhost:3000/users/poll/{{{pollID}}}" 
              target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>Tweet #GoVoteAndPollYourself
            </a>
            <!-- View voters list button -->
            <button type="button" onclick="toggleChart()" class="btn btn-default view-list-btn">View voters list</button>
          </div>

        </div>
    </div>
    <!-- /.row -->
    
    
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script></script>  
  <!-- Load Chart.js from CDNJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <!-- randomColor -->
  <script src="/randomColor/randomColor.js"></script></script> 
  <!-- load custom javascript file. -->
  <script src="/javascripts/donutChart.js" pollID={{pollID}}></script>

</div>
<!-- /.container -->